@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 120 20% 95%;
    --foreground: 0 0% 3.9%;
    --card: 120 20% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 120 20% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 120 60% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 120 20% 91%;
    --secondary-foreground: 0 0% 9%;
    --muted: 120 20% 91%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 90 70% 50%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 20% 89%;
    --input: 120 20% 89%;
    --ring: 120 60% 40%;
    --chart-1: 240 4.8% 95.9%; /* Gris clair */
    --chart-2: 84 70% 50%; /* Vert pâle */
    --chart-3: 84 80% 30%; /* Vert foncé */
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --tab-1: 220 50% 85%;
    --tab-1-active: 220 60% 70%;
    --tab-2: 340 50% 85%;
    --tab-2-active: 340 60% 70%;
    --tab-3: 160 50% 85%;
    --tab-3-active: 160 60% 70%;
  }
  .dark {
    --background: 120 10% 10%;
    --foreground: 0 0% 98%;
    --card: 120 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 120 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 120 60% 50%;
    --primary-foreground: 0 0% 9%;
    --secondary: 120 10% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 120 10% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 90 70% 60%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 20%;
    --input: 120 10% 20%;
    --ring: 120 60% 50%;
    --chart-1: 240 3.7% 15.9%; /* Gris foncé */
    --chart-2: 84 70% 40%; /* Vert pâle */
    --chart-3: 84 80% 60%; /* Vert foncé */
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --tab-1: 220 30% 25%;
    --tab-1-active: 220 40% 40%;
    --tab-2: 340 30% 25%;
    --tab-2-active: 340 40% 40%;
    --tab-3: 160 30% 25%;
    --tab-3-active: 160 40% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
